.root {
  border-top-left-radius: var(--mantine-radius-xl);
  border-bottom-left-radius: var(--mantine-radius-xl);
  padding-left: 10px;
}

.section {
  /* Apply styles only to left section */
  &[data-position="left"] {
    --section-size: calc(var(--button-height) - 8px);

    height: var(--section-size);
    width: var(--section-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--mantine-radius-xl);
  }

  &[data-position="right"] {
    @mixin rtl {
      transform: rotate(180deg);
    }
  }
}
